Source: fort
Section: net
Priority: optional
# TODO update with the proper mailing list once it's created
Maintainer: Alberto Leiva Popper <ydahhrk@gmail.com>
# TODO I'm not bound to be the uploader anymore.
Uploaders: Alberto Leiva Popper <ydahhrk@gmail.com>
# Got pkg-config to mime-support with `dpkg-depcheck -d ./configure`,
# libjansson to libc6 with `objdump -p /usr/bin/fort | grep NEEDED`
# and `dpkg -S`.
Build-Depends: debhelper (>= 11), pkg-config, gawk, file, mime-support, libjansson-dev, libssl-dev
Standards-Version: 4.1.4
Homepage: https://nicmx.github.io/FORT-validator
Vcs-Git: https://github.com/NICMx/FORT-validator.git
Vcs-Browser: https://github.com/NICMx/FORT-validator

Package: fort
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, adduser, rsync
Description: RPKI Relying Party and RTR Server
 Fort is an MIT-licensed RPKI Relying Party. It is a service that
 performs the validation of the entire RPKI repository, and which serves
 the resulting ROAs for easy access by routers.

