#!/usr/bin/make -f

# See debhelper(7)
# output every command that modifies files on the build system.
export DH_VERBOSE = 1

# see FEATURE AREAS in dpkg-buildflags(1)
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

# see ENVIRONMENT in dpkg-buildflags(1)
# package maintainers to append CFLAGS
export DEB_CFLAGS_MAINT_APPEND  = -Wall -pedantic
# package maintainers to append LDFLAGS
export DEB_LDFLAGS_MAINT_APPEND = -Wl,--as-needed

%:
	dh $@ --with=dkms

override_dh_dkms:
	# -V enables us to use #MODULE_VERSION# in the jool-dkms.dkms file.
	dh_dkms -V

override_dh_install:
	dh_install
	# Fixes lintian warning: non-empty-dependency_libs-in-la-file
	# I have no idea why this needs to be done, nor why I'm supposed to do
	# it myself.
	find $(CURDIR)/debian -name *.la -delete

override_dh_makeshlibs:
	# --no-scripts: Do not add the "ldconfig" trigger, even if it seems like
	# the package might need it.
	# Once again, fixes some lintian warning:
	# package-has-unnecessary-activation-of-ldconfig-trigger.
	# Apparently dh_makeshlibs is not detecting that all of the project's
	# libraries are private, so the ldconfig is redundant.
	dh_makeshlibs --no-scripts
