Source: libcmscodec
Section: libs
Priority: optional
Maintainer: Alberto Leiva Popper <ydahhrk@gmail.com>
Build-Depends: debhelper (>= 10), mime-support, cpio, file, gawk
Standards-Version: 4.1.4
Homepage: https://github.com/NICMx/libcmscodec
Vcs-Git: https://github.com/NICMx/libcmscodec.git
Vcs-Browser: https://github.com/NICMx/libcmscodec

Package: libcmscodec-dev
Section: libdevel
Architecture: any
Multi-Arch: same
Depends: libcmscodec0 (= ${binary:Version}), ${misc:Depends}
Description: CMS Signed Objects encoders and decoders (dev)
 BER/DER encoders and decoders meant for RPKI Relying Parties.
 .
 Specifically, implements some of the ASN.1 objects defined by RFCs
 3779, 5280, 5652, 6482, 6486 and 6488.
 .
 This code was generated using asn1c.
 .
 This package contains the development files for libcmscodec. 

Package: libcmscodec0
Architecture: any
Multi-Arch: same
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: CMS Signed Objects encoders and decoders
 BER/DER encoders and decoders meant for RPKI Relying Parties.
 .
 Specifically, implements some of the ASN.1 objects defined by RFCs
 3779, 5280, 5652, 6482, 6486 and 6488.
 .
 This code was generated using asn1c.
